* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: plum;
}

h1 {
  background-color: powderblue;
  border-style: solid;
  margin: 60px;
  padding-left: 900px;
  font-family: fantasy;
  font-size: 60px;
  text-align: justify;
}

main {
  background-color: #132743;
  margin: auto;
  width: 1700px;
}

h2 {
  background-color: powderblue;
  border-style: solid;
  margin: 50px;
  padding-left: 125px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 60px;
  text-align: center;
}
.grid-floats :first-child {
  width: 40%;
}

.grid-floats {
  list-style: none;
  padding: 10px;
  row-gap: 50px;
  column-gap: 15px;
  display: flex;
  direction: ltr;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-item {
  border-radius: 50px;
  border-width: 1px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  text-align: justify;
  word-spacing: 2px;
  line-height: 20px;
}
.grid-item:hover {
  transform: scale(1.04);
  transition-duration: 500ms;
}
h3 {
  display: block;
  font-size: 1.17rem;
  /* margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  font-weight: bold;
  align-content: center;
}

.grid-flex {
  list-style: none;
  justify-content: flex-center;
}

li {
  width: 450px;
  height: 600px;
  background-color: rgb(138, 252, 110);
  border: 16px solid black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  font-style: italic;
  /* text-align: justify; */
}

img {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  display: block;
}
